/**
 * Theme Name:      micsimplesite
 * Theme URI:       https://github.com/MicMun/wordpress_bauvereinigung_naila/themes/micsimplesite
 * Description:     Theme für statische Seite einer Baugenossenschaft
 * Author:          Michael Munzert
 * Author URI:      https://github.com/MicMun
 * Version:         1.2.2
*/

html {
  height: 94%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  min-height: 100%;
}

.row {
  padding-bottom: 30px;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20px !important;
}

.navbar-nav li.active > a {
  color: #f7f8e0 !important;
  text-decoration: underline;
}

h1,
h2,
h3,
h4 {
  color: blue;
}

@media (max-width: 767px) {
  input,
  textarea {
    width: 80%;
  }
  .accept {
    width: auto;
  }
}

.cfvalue {
  background: #eff2fb;
}
